/*==========================================================================
Portfolio
========================================================================== */
.portfolio__area {
	
	position: relative;
	&::after{
		background: $secondary-color;
		background-image: url(img/portfolio.png);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		width: 100%;
		height: 490px;
		z-index: -1;
	}
	&-button {
		text-align: right;
		padding-right: 23px;
		&-next {			
            display: inline-block;
            position: static;
            margin: 0;
            margin-left: 40px;
			i {
				&::before {
					width: 50px;
					height: 50px;
					display: inline-block;
					line-height: 50px;
					text-align: center;
					background: $primary-color;
					color: $white;
					border-radius: 50%;
					transition: all 0.4s ease-in-out;					
				}
			}
			&:hover i::before {
				background: $white;
				color: $secondary-color;
			}  
		}
		&-prev {		
			display: inline-block;
			position: static;
            margin: 0;
			i {
				&::before {
					width: 50px;
					height: 50px;
					display: inline-block;
					line-height: 50px;
					text-align: center;
					background: $primary-color;
					color: $white;
					border-radius: 50%;
					transition: all 0.4s ease-in-out; 
				}
			}
			&:hover i::before {
				background: $white;
				color: $secondary-color;
			}  
		}
	}
	&-title {
		h2 {
			color: $white;
		}
	}
	&-item {
		position: relative;
		&::after {
			position: absolute;
			left: 0;
			top: 0;
			content: '';
			width: 100%;
			height: 100%;
			z-index: 0;
			background: $secondary-color;
			opacity: 0;
			transition: all 0.4s ease-in-out; 
		}
		&-content {
			opacity: 0;
			position: absolute;
			bottom: 0;
			left: 40px;
			right: 40px;
			z-index: 2;
			transition: all 0.4s ease-in-out; 
			h3 {
				a {
					font-size: 30px;
					line-height: 40px;
					color: $white;
					margin-bottom: 10px;
				}
			}
			p {
				color: $primary-color;
				font-weight: 500;
			}
		}
		&-popup {
			display: inline-block;
			position: absolute;
			bottom: 0;
			right: 40px;
			transform: translateY(0%);
			opacity: 0;
			z-index: 2;
			transition: all 0.4s ease-in-out; 
			i {
				&::before {
					background: $white;
					height: 60px;
					width: 60px;
					color: $secondary-color;
					display: inline-block;
					line-height: 60px;
					text-align: center;
					border-radius: 50%;
					font-size: 30px;					
				}
			}
		}
		&:hover {
			&::after {
				opacity: 0.7;				
			}
			.portfolio__area-item {				
				&-content {
					opacity: 1;
					bottom: 40px;
				}
				&-popup {
					opacity: 1;
					bottom: 15px;
					transform: translateY(-50%);
				}
			}
		}
	}
}
/*==========================================================================
Portfolio Page
========================================================================== */
.portfolio__area {
	position: relative;
	&-page {
		&-item {
			position: relative;
			&::after {
				position: absolute;
				left: 0;
				top: 0;
				content: '';
				width: 100%;
				height: 100%;
				z-index: 0;
				background: $secondary-color;
				opacity: 0;
				transition: all 0.4s ease-in-out; 
			}
			a {
				display: block;
				position: absolute;
				top: 20px;
				right: 20px;
				opacity: 0;
				transition: all 0.4s ease-in-out; 
				z-index: 2;
				i {
					&::before {
						background: $white;
						height: 50px;
						width: 50px;
						color: $secondary-color;
						display: block;
						line-height: 50px;
						text-align: center;
						border-radius: 50%;
						font-size: 25px;					
					}
				}
			}
			&-content {
				position: absolute;
				left: 25px;
				right: 25px;
				bottom: 0;
				opacity: 0;
				z-index: 2;
				transition: all 0.4s ease-in-out; 
				h3 {
					a {
						position: inherit;
						font-size: 24px;
						line-height: 34px;
						color: $white;
						margin-bottom: 10px;
					}
				}
				p {
					color: $primary-color;
					font-weight: 500;
				}
			}
			&:hover {
				&::after {
					opacity: 0.7;				
				}
				a {
					opacity: 1;				
				}
				.portfolio__area-page-item-content {
					opacity: 1;
					bottom: 30px;
				}
			}
		}
	}
}
/*==========================================================================
Portfolio Details
========================================================================== */
.portfolio__details {
	&-left {
		&-content {
			border-bottom: 1px solid $border;
			padding-bottom: 40px;
			margin-bottom: 35px;
			h3 {
				font-size: 36px;
				line-height: 46px;
			}
			ul {
				li:last-child {
					margin: 0;
				}
				li {
					margin-bottom: 10px;
					color: $secondary-color;
					i {
						&::before {
							color: $primary-color;
							font-size: 25px;
							margin-right: 10px;
							top: 0;
						}
					}
				}
			}
		}
	}
	&-project {
		h3 {
			font-size: 30px;
			line-height: 40px;			
		}
	}
	&-right {
		&-info {
			background: $thin-bg;
			padding: 40px 30px;
			h4 {
				position: relative;
				&::before {
					position: absolute;
					content: '';
					width: 30px;
					height: 4px;
					bottom: -5px;
					left: 0;
					background: $primary-color;					
				}
			}
			ul {
				li:last-child {
					margin: 0;
				}
				li {
					margin-bottom: 10px;
					span {
						margin-bottom: 10px;
						text-transform: uppercase;
						font-size: 14px;
						line-height: 24px;
						font-weight: 700;
						color: $secondary-color;
						font-family: $open;
						padding-right: 7px;
					}
					ul {
						li:first-child {
							margin: 0;
						}
						li:last-child {
							margin: 0;
						}
						li {
							display: inline-block;
							margin-right: 10px;
							i {
								font-size: 14px;
								&::before {
									top: 0;
								}
							}
						}
					}
					li {
						margin: 0;
					}
				}
			}
		}
		&-help {
			position: relative;
			padding: 50px 30px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			&::after {
				position: absolute;
				left: 0;
				top: 0;
				content: '';
				width: 100%;
				height: 100%;
				z-index: 0;
				background: $secondary-color;
				opacity: 0.9;
			}
			h4 {
				position: relative;
				color: $white;
				z-index: 1;
				&::before {
					position: absolute;
					content: '';
					width: 30px;
					height: 4px;
					bottom: -5px;
					left: 0;
					background: $primary-color;					
				}
			}
			p {
				position: relative;
				z-index: 1;				
			}
			&-item {
				position: relative;
				z-index: 1;
				&-icon {
					i {
						&::before {
							color: $primary-color;
							font-size: 40px;
							margin-right: 10px;
						}
					}
				}
				&-content {
					span {
						text-transform: uppercase;
						font-family: $open;
						font-size: 14px;
						line-height: 24px;
						font-weight: 700;
					}
					p {
						font-size: 18px;
						line-height: 28px;
						font-weight: 600;
						color: $border;
					}
				}
			}
		}
	}
}
@media (max-width: 1690px) {
	.portfolio__area {
		&-item {
			&-content {
				left: 30px;
				right: 30px;
				h3 {
					a {
						font-size: 19px;
						line-height: 29px;
						margin-bottom: 5px;
						font-weight: 700;
					}
				}
			}
			&-popup {
				i {
					&::before {
						height: 40px;
						width: 40px;
						line-height: 40px;
						font-size: 20px;					
					}
				}
			}
			&:hover {
				.portfolio__area-item {				
					&-content {
						bottom: 30px;
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.portfolio__area {
		&::after {
			display: none;
		}
		&-button {
			text-align: center;
			padding-top: 10px;	
			&-next {
				&:hover i::before {
					background: $secondary-color;
					color: $white;
				}  
			}
			&-prev {		
				&:hover i::before {
					background: $secondary-color;
					color: $white;
				}  
			}
		}
		&-title {
			text-align: center;
			h2 {
				color: $secondary-color;
			}
		}
	}
}
@media (max-width: 575px) {
	.portfolio__area {
		&-button {
			right: 0;
		}
	}
	.portfolio__details {
		&-left {
			&-content {
				h3 {
					font-size: 28px;
					line-height: 38px;
				}
			}
		}
		&-project {
			h3 {
				font-size: 26px;
				line-height: 36px;			
			}
		}		
	}
}
@media (max-width: 360px) {
	.portfolio__area {
		&-item {
			&-content {
				left: 25px;
				right: 25px;
			}
			&-popup {
				top: 0;
				i {
					&::before {
						height: 40px;
						width: 40px;
						line-height: 40px;
						font-size: 20px;					
					}
				}
			}
			&:hover {
				.portfolio__area-item {		
					&-popup {
						top: 30px;
						transform: translateY(0%);
					}
				}
			}
		}
	}
}